Priyal Gupta
PRN: 25070123087
Aim of Experiment: Study of Tuple in Python

In [ ]:
tpl=(2,True,"priyal")
print(tpl)

(2, True, 'priyal')

In [ ]:
tpl2=("apple","banana","orange")
print(tpl2[1])
print(tpl2[-2])

banana
banana

In [ ]:
tpl3=("apple","banana","orange")
tpl3[1]="kiwi"
print(tpl3)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl5=(10,)*5
print(tpl5)

(10, 10, 10, 10, 10)

In [ ]:
tpl6=(10)*5
print(tpl6)

50

In [ ]:
tpl7=("apple","banana","orange")
print("Before:",id(tpl7))
tpl7+=tpl8
print(tpl7)
print("After:",id(tpl7))

Before: 134875447120192
('apple', 'banana', 'orange', 'kiwi')
After: 134874503721616

In [ ]:
tpl7=["apple","banana","orange"]
print("Before:",id(tpl7))
tpl7+=tpl8
print(tpl7)
print("After:",id(tpl7))

Before: 134874503509632
['apple', 'banana', 'orange', 'kiwi']
After: 134874503509632

In [ ]:
tpl9= (90, 82, 66, 76, 33)
print(max(tpl9))
print(min(tpl9))
print(len(tpl9))
print(sum(tpl9))
print(sum(tpl9)/len(tpl9))
print(sorted(tpl9))

90
33
5
347
69.4
[33, 66, 76, 82, 90]

In [1]:
result = ("Maths",86,"A")
print("Subject:",result[0])
print("Marks:",result[1])
print("Grade:",result[2])
#unpacking a tuple
subject,marks,grade = result
print("subject:",subject)
print("marks:",marks)
print("grade:",grade)
#check for distinction
if marks>=75:
  print("Distinction")

Subject: Maths
Marks: 86
Grade: A
subject: Maths
marks: 86
grade: A
Distinction

In [2]:
attendance = ("P","A","P","P","A","P")
print("Total present days:",attendance.count("P"))
print("Total Absent days:",attendance.count("A"))
if "A" in attendance:
      print("Employee was absent at least once")

Total present days: 4
Total Absent days: 2
Employee was absent at least once